#cart-number {
  position: absolute;
  top: 9%;
  left: 16%;
  text-decoration: solid;
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: red;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
}
ul a{
  color: #000;
}
.bottom-nav {
  display: flex;
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: -12px;
  left: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-inline-start: 0;
  background-color: rgb(40, 116, 240);
}

.bottom-nav i {
  font-size: 30px;
}

ul li {
  display: inline-block;
}

li.selected {
  color: rgb(255, 255, 255);

}

.Login{
  margin-top: 60px;
}

